# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment
.env
.env.*.local

# Playwright
tests/reports/
playwright-report/
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store